<p id="notice"><%= notice %></p>

<p><%= @character_blueprint.blueprint_name %></p>

<%= link_to 'Edit', edit_character_blueprint_path(@character, @character_blueprint) %>
<%= link_to 'Back', character_blueprints_path %>
